header,
footer {
  margin: 0;
  padding: 0;
  height: 200px;
  width: auto;
  padding: 20px 10px;
  background-color: rgba(26, 26, 26, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
h1 {
  text-align: center;
  font-size: 40px;
}

.pagination {
  background: #333;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

#numbers {
  padding: 0;
  margin: 0 2rem;
  list-style-type: none;
  display: flex;
}

#numbers li a {
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  opacity: 0.7;
}

#numbers li a:hover {
  opacity: 1;
}

#numbers li a.active {
  opacity: 1;
  background: #fff;
  color: #333;
}
body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
  background-color: #fafafa;
  
}
.main-container {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  
}

.table-container {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  width: 80%;

  border-radius: 4px;
  border: 1px solid #dadada;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
}
#table{
    width: 100%;
}
 

#table tr
{
    text-align: center;
} 
#toast {
  visibility: hidden;
  max-width: 250px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;

  position: fixed;
  z-index: 1;
  left: 0;right:0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}
